.Toolbar {
  display: flex;
  position: absolute;
  top: 32px;
  right: 32px;
  height: 48px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .Toolbar {
    top: 4px;
    right: 4px;
    height: 80px;
  }
}