.Toolbar {
  position: absolute;
  top: var(--size-xxs);
  right: var(--size-xxs);
  padding-left: var(--size-xxs);
  display: flex;
  flex-direction: row;
  z-index: 1;
  gap: 2px;
}

.Toolbar-buttonsGroup {
  gap: 1px;
}

.Toolbar-buttonsGroup.web {
  display: none;
}

.Toolbar-button.active {
  display: block;
}

.Toolbar-buttonsGroup.collapsed .Toolbar-button:not(.active) {
  display: none;
}

@media (min-width: 1024px) {
  .Toolbar {
    flex-direction: row;
    top: 32px;
    right: var(--size-md);
    gap: var(--size-md);
  }

  .Toolbar-buttonsGroup {
    display: flex;
    flex-direction: row;
    gap: var(--size-md)
  }

  .Toolbar-buttonsGroup.web {
    display: inherit;
  }

  .Toolbar-buttonsGroup.mobile {
    display: none;
  }
}
