.Toolbar {
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 2px;
  height: 80px;
}

.Toolbar-buttonsGroup {
  gap: 1px;
}

.Toolbar-button.active {
  display: block;
}

.Toolbar-buttonsGroup.collapsed .Toolbar-button:not(.active) {
  display: none;
}

@media (min-width: 1024px) {
  .Toolbar {
    flex-direction: row;
    top: 32px;
    right: 32px;
    height: 48px;
    gap: 20px
  }

  .Toolbar-buttonsGroup {
    display: flex;
    flex-direction: row;
    gap: 10px
  }
}
