.Card-heading {
  font-family: var(--font-family);
  font-size: var(--size-base);
  font-weight: 400;
  color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  .Card-heading {
    font-size: var(--size-md);
  }
}
