.Navbar {
  position: absolute;
  z-index: 1;
  right: var(--size-xxs);
  bottom: var(--size-xxs);
  left: var(--size-xxs);

  display: flex;

  min-height: 80px;
}

.Navbar.active {
  top: 132px;
}

.Navbar-breadcrumbs {
  flex: 1;

  max-width: 80px;
  margin-right: 1px;

  background: linear-gradient(
    296.29deg,
    rgba(0, 102, 255, 0.216) 2.96%,
    rgba(0, 133, 255, 0.1896) 50.03%,
    rgba(0, 163, 255, 0.2064) 93.31%
  );
  backdrop-filter: blur(16px);
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(
      to right,
      rgba(157, 226, 255, 0.64),
      rgba(217, 255, 248, 0)
    )
    1;
}

.Navbar-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Navbar-header {
  height: 277px;

  background: linear-gradient(
    296.29deg,
    rgba(0, 102, 255, 0.216) 2.96%,
    rgba(0, 133, 255, 0.1896) 50.03%,
    rgba(0, 163, 255, 0.2064) 93.31%
  );
  backdrop-filter: blur(16px);
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(
      to right,
      rgba(157, 226, 255, 0.64),
      rgba(217, 255, 248, 0)
    )
    1;
}

.Navbar-content {
  display: flex;
  flex-direction: column;
}
